.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  
  
body{
    margin: 0px 128px 0px 128px;
    
}

/*banner styles*/
.banner-section{
  height: 464px;
  width: 1280px;
  background-color: #C6E4D6;
  border-radius: 20px;
  border: none;
  padding: 40px 0px 64px 48px;
  display: flex;
  margin: 120px 0px 100px;
  display: flex;
  justify-items: auto;
  

.banner-description{
  width: 580px;
  height: 260px;
  padding: 14px 0px 18px 0px;
  margin: 0px 40px 0px 0px;
}

.banner-greetings{
  font-size: 24px;
  font-weight: medium;
  color: #0E0E0E;
  opacity: 50%;
  padding: 0px;
  
}

.banner-title{
  font-size: 56px;
  font-weight: bold;
  color: #0E0E0E;
}

.banner-img{
  width: 380px;
  height: 320px;
  margin: 20px 0px 0px 40px;

}

/*Shared styles*/

.btn-primary{
  font-size: 18px;
  font-weight: 600;
  color: white;
  padding: 17px 34px 17px 34px;
  background-color: #006A50;
  border-radius: 10px;
  border: none;



}
